<h3>Edit Comments</h3>

<%= render 'users/welcome' %> <br>
<%= form_for @comment, url: article_comment_path(@comment.article_id, @comment), method: :patch do |f| %>
  <p>
    <%= f.label :commenter%><br>
    <%= f.text_field :commenter, value: current_user.first_name, readonly: true %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %><br>
  </p>
<% end %>

<br><br>
<%= link_to "user index", users_path %>
<br><br>
<%= link_to "view all aritcles", articles_path %>
<br><br>
<%= link_to "sign_out", sign_out_users_path %>