<h2>all titles</h2>


<% if logged_in? %>
  Welcome <%= current_user.first_name %>
  <h3> No of articles are : <%= @articles.count %></h3>
<% end %> <br>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% if logged_in? %>
    <% @articles.each do |article| %>
      <tr>
        <%= render 'view_article', art: article %>
        <td> <%= link_to "edit", edit_article_path(article) %> </td>
        <td> <%= link_to "delete", article, method: :delete, data: { confirm: "You sure?" } %> </td>
      </tr>
    <% end %>
    <td><b>Other Authers Articles<b></td>
    <% @other_authors_articles.each do |article| %>
      <tr>
      <%= render 'view_article', art: article %>
      </tr>
    <% end -%>
  <% else %>
    <td><b>All Articles<b></td>
    <% @all_articles.each do |article| %>
      <tr>
        <%= render 'view_article', art: article %>
      </tr>
    <% end -%>
  <% end %>


</table>

<%if !logged_in? %>
  <br><br>
  <%= link_to "Log in Page", sign_in_users_path %>
<%else%>
  <%= render 'users/footer' %>
<% end %>
