<h2>all titles</h2>
<h3> No of articles are : <%= @articles.count %></h3>

<% if logged_in? %>
  Welcome <%= current_user.first_name %>
<% end %> <br>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title.capitalize %></td>
      <td><%= article.description.first(20) %></td>
      <td> <%= link_to "view", article %> </td>
      <td> <%= link_to "edit", edit_article_path(article) %> </td>
      <td> <%= link_to "delete", article, method: :delete, data: { confirm: "You sure?" } %> </td>
    </tr>
  <% end %>

  <td><b>Other Authers Articles<b></td>
  <% @other_authors_articles.each do |article| %>
    <tr>
      <td><%= article.title.capitalize %></td>
      <td><%= article.description.first(20) %></td>
      <td> <%= link_to "view", article %> </td>
    </tr>
  <% end -%>
</table>

<br><br>
<%= link_to "user index", users_path %>
<br><br>
<%= link_to "create new article ", new_article_path %>
<br><br>
<%= link_to "sign_out", sign_out_users_path %>