<h1>show article page</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><%= @article.title %></td>
    <td><%= @article.description %></td>
  </tr>
</table>

<br><br>
<%= link_to "user index", users_path %>
<br><br>
<%= link_to "create new article ", new_article_path %>
<br><br>
<%= link_to "view all aritcles", articles_path %>
<br><br>
<%= link_to "sign_out", sign_out_users_path %>