<h3>Edit User Details</h3>

<table>
  <tr>
    <%= form_for @user do |f| %>
      <p>
        First name <%= f.text_field :first_name %>
      </p>
      <p>
        Last name<%= f.text_field :last_name %>
      </p>
      <p>
        Contact No<%= f.text_field :contact %>
      </p>
      <p>
        <%= f.submit %><br>
      </p>
    <% end %>
  </tr>
</table>

<br><br>
<%= link_to "user index", users_path %>
<br><br>
<%= link_to "sign_out", sign_out_users_path %>