
<h3>Edit User Details</h3>

<%= render 'welcome' %>

<table>
  <tr>
    <%= form_for @user do |f| %>
      <p>
        First name <%= f.text_field :first_name %>
      </p>
      <p>
        Last name<%= f.text_field :last_name %>
      </p>
      <p>
        Contact No<%= f.text_field :contact %>
      </p>
      <p>
        <%= f.submit class: "btn btn-success"  %><br>
      </p>
    <% end %>
  </tr>
</table>

